# postgres|mysql
DATABASE=postgres

DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=bolsa

# API
PORT=3000

#ADMINER
ADMINER_PORT=8080

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Escolha o formato a depender do tipo de banco
#DATABASE_URL="mysql://user:password@database-mysql:3306/bolsa"
DATABASE_URL="postgresql://user:password@database-postgres:5432/bolsa?schema=public"

JWT_SECRET=secretLOGIN

# Configurações para persistir documentos em S3 Bucket
S3_ENDPOINT='xxxxx.com'
S3_ACCESS_KEY_ID='xxxxxxxxxxxxxxxxxxxxxx'
S3_SECRET_ACCESS_KEY='xxxxxxxxxxxxxxx'
S3_BUCKET='xxxxxxx'
S3_ACL='public-read'
S3_URL='https://xxxxxxx.com'

# Configurações de SMTP MAILER
SMTP_HOST=smtp-relay.sendinblue.com
SMTP_PORT=587
SMTP_USER=matheuswcf@gmail.com
SMTP_PASSWORD=
SMTP_NOREPLY=matheuswcf@gmail.com